<h1 style="text-align: center;">Avaliações dos usuários</h1>
<div style="display: grid; justify-content: center; grid-template-columns: 40%; grid-row-gap: 10px;">
    <feedback feedback="feedback" ng-repeat="feedback in feedbackCtrl.feedbacks"></feedback>
    <form ng-submit="feedbackCtrl.create()" ng-if="feedbackCtrl.isLoggedIn()">
        <div style="display: grid; grid-template-columns: 1fr min-content; align-items: center;">
            <md-input-container>
                <label>Comentário</label>
                <textarea ng-model="feedbackCtrl.feedback.description" required></textarea>
            </md-input-container>
            <md-button type="submit">
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </form>
</div>