<div class="main-container">
    <md-toolbar class="md-hue-2" md-colors="{background: 'teal-500'}">
        <div class="md-toolbar-tools">
            <div flex md-truncate>
                <md-button aria-label="Linha do tempo" ng-click="mainCtrl.goToTimeline()" ng-if="mainCtrl.isLoggedIn()">
                    linha do tempo
                </md-button>
            </div>

            <md-button aria-label="Página do usuário" ng-click="mainCtrl.goToUserPage()" ng-if="mainCtrl.isLoggedIn()">
                conta
            </md-button>

            <md-button aria-label="Sair" ng-click="mainCtrl.logout()" ng-if="mainCtrl.isLoggedIn()">
                sair
            </md-button>
            <md-button aria-label="Autenticação" ng-click="mainCtrl.goToLogin()" ng-if="!mainCtrl.isLoggedIn()">
                ENTRAR / REGISTRAR
            </md-button>
        </div>
    </md-toolbar>
    <div ui-view="content" class="main-content"></div>
</div>