<md-dialog class="create-event-dialog">
    <div class="create-event-container">
        <h2 ng-if="!createEventCtrl.isEditing">Criar novo evento</h2>
        <h2 ng-if="createEventCtrl.isEditing">Editar evento</h2>
        <form class="create-event-form-container" ng-submit="createEventCtrl.create()">
            <md-input-container>
                <label>Nome do evento</label>
                <input type="text" ng-model="createEventCtrl.event.name" required/>
            </md-input-container>
            <md-input-container>
                <label>Descrição</label>
                <textarea ng-model="createEventCtrl.event.description" required></textarea>
            </md-input-container>
            <div class="create-event-form-container__color-date">
                <md-input-container>
                    <label>Cor</label>
                    <input type="color" ng-model="createEventCtrl.event.color" required/>
                </md-input-container>
                <md-input-container>
                    <label>Data do evento</label>
                    <input type="date" ng-model="createEventCtrl.event.event_date" required/>
                </md-input-container>
            </div>

            <div class="create-event-form-container__actions">
                <md-button md-colors="{background: 'default-grey-400'}" ng-click="createEventCtrl.cancel()">CANCELAR</md-button>
                <md-button type="submit" md-colors="{background: 'default-teal-500'}">SALVAR</md-button>
            </div>
        </form>
    </div>
</md-dialog>