<md-card class="event-container" ng-click="eventCtrl.showDescription()">
    <h2 class="event-container__name">{{eventCtrl.event.name}}</h2>
    <span class="event-container__date">{{eventCtrl.formatDate(eventCtrl.event.event_date)}}</span>
    <p class="event-container__description" ng-if="!eventCtrl.hideDescription">{{eventCtrl.event.description}}</p>
    <div class="event-container__action" ng-if="!eventCtrl.hideDescription">
        <md-button ng-click="eventCtrl.confirmRemove($event)">
            REMOVER
        </md-button>
        <md-button ng-click="eventCtrl.edit($event)">
            EDITAR
        </md-button>
    </div>
</md-card>