<div class="events-timeline" ng-if="eventsCtrl.events.length !== 0">
    <event event="event" ng-repeat="event in eventsCtrl.events | orderBy: '-event_date'"></event>
</div>
<div class="events-timeline--empty" ng-if="eventsCtrl.events.length === 0">
    <h1>Ainda não há eventos a serem exibidos</h1>
</div>
<md-fab-speed-dial class="md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary"
            md-colors="{background: 'light-green-600'}" ng-click="eventsCtrl.create($event)">
        <md-icon>add</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>