<div style="display: grid; justify-content: center; grid-template-columns: 50%;" ng-if="eventsCtrl.events.length !== 0">
    <event event="event" ng-repeat="event in eventsCtrl.events | orderBy: '-event_date'"></event>
</div>
<div style="display: grid; justify-content: center; height: 100%; grid-template-columns: 50%; align-content: center;" ng-if="eventsCtrl.events.length === 0">
    <h1 style="color: rgba(0, 0, 0, .6)">Ainda não há eventos a serem exibidos</h1>
</div>
<md-fab-speed-dial class="md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary"
            md-colors="{background: 'light-green-600'}" ng-click="eventsCtrl.create($event)">
        <md-icon>add</md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>