<div class="login-container">
    <form class="signin-form" ng-submit="loginCtrl.register()">
        <md-input-container>
            <label>Nome</label>
            <input type="text" ng-model="loginCtrl.newUser.name" required/>
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="loginCtrl.newUser.email" required/>
        </md-input-container>
        <md-input-container>
            <label>Senha</label>
            <input type="password" ng-model="loginCtrl.newUser.password" required/>
        </md-input-container>
        <md-input-container>
            <label>Confirmar senha</label>
            <input type="password" ng-model="loginCtrl.confirmPass" required/>
        </md-input-container>
        <md-button type="submit" md-colors="{background: 'teal-500'}" class="login-action-button">
            REGISTRAR
        </md-button>
    </form>
    <hr/>
    <form class="register-form" ng-submit="loginCtrl.login()">
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="loginCtrl.credentials.email" required/>
        </md-input-container>
        <md-input-container>
            <label>Senha</label>
            <input type="password" ng-model="loginCtrl.credentials.password" required/>
        </md-input-container>
        <md-button type="submit" md-colors="{background: 'teal-500'}" class="login-action-button">
            ENTRAR
        </md-button>
    </form>
</div>