<div class="user-acount-container">
    <h1>Dados da conta</h1>
    <div class="user-account__details" ng-if="!userDetailsCtrl.isUpdatingAttributes && !userDetailsCtrl.isUpdatingPassword">
        <b class="user-account__details__name">Nome:</b>
        <p class="user-account__details__uname">{{userDetailsCtrl.user.name}}</p>
        <b class="user-account__details__email">Email:</b>
        <p class="user-account__details__uemail">{{userDetailsCtrl.user.email}}</p>
        <div class="user-account__details__action">
            <md-button ng-click="userDetailsCtrl.isUpdatingPassword = true" md-colors="{background: 'teal-500'}">
                Mudar senha
            </md-button>
            <md-button ng-click="userDetailsCtrl.isUpdatingAttributes = true" md-colors="{background: 'teal-500'}">
                Editar
            </md-button>
        </div>
    </div>
    <div ng-if="userDetailsCtrl.isUpdatingAttributes && !userDetailsCtrl.isUpdatingPassword">
        <form class="user-account__form-container" ng-submit="userDetailsCtrl.saveUser()">
            <md-input-container>
                <label>Nome</label>
                <input type="text" ng-model="userDetailsCtrl.userCopy.name" required/>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="userDetailsCtrl.userCopy.email" required/>
            </md-input-container>
            <div style="justify-self: end;">
                <md-button ng-click="userDetailsCtrl.cancelUpdate()" md-colors="{background: 'grey-400'}">
                    cancelar
                </md-button>
                <md-button type="submit" md-colors="{background: 'teal-500'}">
                    salvar
                </md-button>
            </div>
        </form>
    </div>

    <div ng-if="userDetailsCtrl.isUpdatingPassword && !userDetailsCtrl.isUpdatingAttributes">
        <form class="user-account__form-container" ng-submit="userDetailsCtrl.updatePassword()">
            <md-input-container>
                <label>Senha atual</label>
                <input type="password" ng-model="userDetailsCtrl.actualPass" required/>
            </md-input-container>
            <md-input-container>
                <label>Nova Senha</label>
                <input type="password" ng-model="userDetailsCtrl.newPass" required/>
            </md-input-container>
            <md-input-container>
                <label>Confirmar Senha</label>
                <input type="password" ng-model="userDetailsCtrl.confirmPass" required/>
            </md-input-container>
            <div style="justify-self: end;">
                <md-button ng-click="userDetailsCtrl.cancelUpdate()" md-colors="{background: 'grey-400'}">
                    cancelar
                </md-button>
                <md-button type="submit" md-colors="{background: 'teal-500'}">
                    salvar
                </md-button>
            </div>
        </form>
    </div>
</div>